*{
    box-sizing: border-box;
    font-family: 'Manrope',sans-serif;
}


.main-container {
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 4%;
    position: relative;
} 

#grid-container1 {
    width: 45%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 22px;
    grid-template-rows: 20% 65% 10% 20%;
    
    
}



.grid-container2 {
    width: 45%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 45px;
    grid-template-rows: 20% 90%;
    /* background-color: yellow; */
    
    
    
}

#pic-clock {
    /* border: 2px solid red; */
    background-image: url("clock_logo.png");
    background-size: 100% 100%;
}

#set-container {
    /* border: 2px solid red; */
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    border-radius: 10px;
    margin-top: 25px;

}

.set-inner-container {
    /* border: 2px solid red; */
    width: 100%;
    height: 33%;
    position: relative;
}

  #set-time {
    
    /* padding-top: 15px;
    padding-left: 10px; */
    /* color: white;
    background-color: #8E53F0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) 27px/34px var(--unnamed-font-family-bauhaus-hv-bt);
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box; 
     border: 1px solid #EDEDED; */
   
    /* opacity: 0.23; */
    font-family: Bauhaus Hv BT;
    width: 123%;
    height: 130%;
    /* text-align: left;  */
 }  
#div1 {
    background-image: url("wake_up.png");
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
#div2 {
    background-image: url("lunch_time.png");
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}
#div3 {
    background-image: url("nap_time.png");
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.labels {
    width: 80%;
    height: 100%;
    display: inline-block;
    padding: 20px;
    position: absolute; 
    color: #3D087B;   
}
#WakeUpTime {
    width: 165px;
    height: 35px;
    border-radius: 3px;
    margin-left: 22px;
    color: #3D087B;
    border: 1px solid lightgray;
}
#lunchTime {
    width: 165px;
    height: 35px;
    border-radius: 3px;
    margin-left: 50px;
    color: #3D087B;
    border: 1px solid lightgray;
}
#napTime {
    width: 165px;
    height: 35px;
    border-radius: 3px;
    margin-left: 62px;
    color: #3D087B;
    border: 1px solid lightgray;
}
  #lower-block1 {
    
    top: 55px;
    left: 600px;
    width: 340px;
    height: 108px;

    position: absolute;
    top: 10px;
    margin: auto;
    margin-left: 70px;
    opacity: 0.71;
    z-index: -1;
    border-radius: 10px;
    background-color: white;
} 
#lower-block2 {

    top: 55px;
    left: 580px;
    width: 380px;
    height: 100px;
    opacity: 0.40;
    position: absolute;
    top: 10px;
    margin: auto;
    margin-left: 70px;
    
    z-index: -2;
    border-radius: 10px;
    background-color:white;
}
 .grid-item1 {
    top: 30px;
    left: 39px;
    width: 512px;
    height: 100px;
    background-color: white;
    /* border: 2px solid red; */
    border-radius: 10px;
    padding-top: 12px;
}  
#right-bottom-container {
    width: 512px;
    height: 410px;
    background-color: white;
    /* border: 2px solid red; */

}
#clock1 {
    width: 15%;
    height: 80%;
    display: flex;
    justify-content: center;
    float: left;
    color:#3D087B;
    align-items: center;
    font-size: 12px;
}
#clock2 {
    width: 12%;
    height: 80%;
    float: left;
    color:#3D087B;;
    align-items: center;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    background-color: #F6E2FF;
    opacity: 1;
}
#clock3 {
    width: 12%;
    height: 80%;
    float: left;
    color:#3D087B;;
    align-items: center;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    background-color: #F6E2FF;
    opacity: 1;
}
#clock4 {
    width: 12%;
    height: 80%;
    float: left;
    color:#3D087B;;
    align-items: center;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    background-color:#F6E2FF;
    opacity: 1;
}
#clock5 {
    width: 12%;
    height: 80%;
    float: left;
    color:white;
    align-items: center;
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
    background-image: url("AM_svg.png");
    opacity: 1;
    margin-left: 15px;
    border-radius: 5px;
    
}
#dot1 {
    width: 10%;
    height: 80%;
    float: left;
    color:#3D087B;;
    align-items: center;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
    background-color:white;
    opacity: 1;
}
#dot2 {
width: 10%;
height: 80%;
float: left;
color:#3D087B;;
align-items: center;
font-size: 15px;
padding-top: 5px;
text-align: center;
background-color :white;
opacity: 1;

}
#img-container {
    /* border: 10px solid black; */
    position: absolute;
    width: 508px;
    height: 290px;
    background-color: white;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(cartoon2.jpg);
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
#text-container {
    width: 512px;
    height:100px ;
    text-align: left;
    font-size: 25px;
    padding-top: 20px;
    color:#3D087B; 
    font-family: 'Righteous', cursive;
    font-weight: bold;
    padding-left: 25px;
}
.dots {
    /* width: 6px;
    height: 22px;
    top: 98px;
    left: 912px; */
    text-align: center;
    font-size: 30px;
}
.help {
    margin-top: -51px;
}
.help1 {
    margin-top: 4px;
}
#button1 {
    width: 80%;
    height: 40%;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-image: linear-gradient(to right,#8E53F0  , #F25CFE );
    color: wheat;
    font-size: 20px;
    padding-bottom: 32px;
}

#dynamic-block {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color:#8E53F0;
    color:wheat;
    height: 75%;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Righteous', cursive;
    font-weight: bold;
}
#dynamic-block1 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color:#8E53F0;
    color:wheat;
    height: 75%;
    padding-top: 20px;
    padding-left: 20px;
}


